# Author: Daniele Rondina <geaaru@gmail.com>
# Description: This task permits to purge repo core files.

name: "Purge files from CDN77 resource ({{ .name }})"
type: "lxd"

storage: "cdn77"
storage_path: /storage
entrypoint:
- /bin/sh
- "-c"
script:
- >-
  anise i --sync-repos repository/mottainai-stable &&
  anise i --sync-repos utils/yq utils/jq --force &&
  anise repo disable mottainai-stable
- >-
  git clone https://code.funtoo.org/bitbucket/scm/mos/macaroni-tasks.git
  /macaroni-tasks &&
  cd /macaroni-tasks &&
  chmod a+x /macaroni-tasks/cdn/api/purge-repo-files.sh &&
  /bin/bash -c 'source /storage/cdn77.env && export NAME=${NAME} && export CDN_TOKEN && cdn/api/purge-repo-files.sh'
image: "macaroni/phoenix-builder"
environment:
- "NAME={{ .name }}"

# vim: filetype=yaml
