# Author: Daniele Rondina, geaaru@funtoo.org
# Description: Chain pipeline to tag dev repository to testing.
#
pipeline_name: "luet - Tag {{ .namespace }} for testing - {{ dateInZone "2006-01-02T15:04:05.000Z" (now) "UTC" }}"
chain:
- tag-ns
- bump-repo-revision
# TODO: add clean of the repo
- purge-cdn-files

tasks:
  tag-ns:
    name: "Tag <{{ .namespace }}> for testing - {{ dateInZone "2006-01-02T15:04:05.000Z" (now) "UTC" }}"
    storage: "mcli"
    storage_path: /storage
    script:
    - sleep 2
    - export HOME=/root && mkdir -p /root/.config/
    - /bin/bash /storage/setup-mcli.sh
    - >-
      export MOTTAINAI_CLI_PROFILE=funtoo
    - mottainai-cli namespace delete "${NAMESPACE}"
    - mottainai-cli namespace clone "${NAMESPACE}" -f "${NAMESPACE}"-dev
    environment:
    - "NAMESPACE={{ .namespace }}"
    - "MOTTAINAI_CLI_GENERAL__CLIENT_TIMEOUT=3600"
    image: macaroni/funtoo-builder
    artefact_path: /artefacts
    type: lxd

  bump-repo-revision:
    name: "luet - < {{ .namespace }} > - Bump revision"
    script:
    - git clone ${REPO} -b ${REPO_BRANCH} repo
    - cd repo
    - export HOME=/root && mkdir -p /root/.config/
    - /bin/bash /storage/setup-mcli.sh
    - >-
      MOTTAINAI_CLI_PROFILE=funtoo
      mottainai-cli namespace download $NAMESPACE build -f '.*metadata.yaml|repository.yaml$|repository.meta.yaml.tar.zst$'
    - ls -l build/
    - make create-repo
    - rm build/*.metadata.yaml -v && mv build/* ../artefacts/
    entrypoint:
    - /bin/sh
    - "-c"
    storage: "mcli"
    storage_path: /storage
    environment:
    - "REPO_BRANCH={{ .repobranch }}"
    - "REPO={{ .repohttp }}"
    - "SUDO="
    - LUET_SYSTEM__TMPDIR_BASE=/luettmp
    - LUET_YES=true
    - COMPRESSION=zstd
    - NAMESPACE={{ .namespace }}
    - "BUILD_ARGS=--config conf/luet.yaml"
    image: macaroni/funtoo-builder
    artefact_path: artefacts
    type: lxd
    directory: /
    publish_mode: append
    tag_namespace: "{{ .namespace }}"

  purge-cdn-files:
    name: "Purge files from CDN resource ({{ .namespace }})"
    type: "lxd"
    storage: "cloudflare"
    storage_path: /storage
    entrypoint:
    - /bin/sh
    - "-c"
    script:
    - >-
      git clone https://github.com/macaroni-os/macaroni-tasks.git
      /macaroni-tasks &&
      cd /macaroni-tasks &&
      chmod a+x /macaroni-tasks/cdn/api/purge-cloudflare-repo-files.sh &&
      /bin/bash -c 'source /storage/cloudflare.env && export NAME=${NAME} && export CDN_TOKEN CLOUDFLARE_ZONEID && cdn/api/purge-cloudflare-repo-files.sh'
    image: macaroni/funtoo-builder
    environment:
    - "NAMESPACE={{ .namespace }}"
    - "NAME={{ .namespace }}-testing"

# vim: filetype=yaml
