
image: macaroni/phoenix-builder
storage: "geaaru-github,mcli"
storage_path: /storage
artefact_path: /artefacts
{{- if .extrans }}
namespace: "{{ .namespace }}-reposcan,{{ .extrans }}"
{{- else }}
namespace: "{{ .namespace }}-reposcan"
{{- end }}
type: lxd
environment:
- LUET_SYSTEM__TMPDIR_BASE=/anisetmp
- LUET_YES=true
- "KITS_2UPGRADE={{ .kits2upgrade }}"
- "REPO_BRANCH={{ .repobranch }}"
- "REPO={{ .repossh }}"
- "NAMESPACE={{ .namespace }}"

name: "Luet Portage Converter <{{ .namespace }}> - ({{ dateInZone "2006-01-02T15:04:05.000Z" (now) "UTC" }})"
script:
- >-
  anise repo update &&
  anise install utils/jq utils/yq net-misc/openssh
  dev-util/mottainai-cli sys-devel/make
  anise-portage-converter system/luet-build
  &&
  anise miner reinstall-package virtual/base &&
  anise cleanup &&
  env-update &&
  ldconfig

# Setup Mottainai stuff
- export HOME=/root && mkdir -p /root/.config/
- /bin/bash /storage/setup-mcli.sh

# Setup git ssh key
- sh /storage/setup-ssh.sh
- sh /storage/setup-git.sh

- >-
  git clone ${REPO} -b ${REPO_BRANCH} /anise-repo &&
  mkdir /anise-repo/kit_cache -p &&
  cp -vf /artefacts/* /anise-repo/kit_cache/ &&
  rm -rf /artefacts/*

- >-
  git clone https://github.com/macaroni-os/macaroni-tasks.git
  /macaroni-tasks &&
  cd /macaroni-tasks &&
  MOTTAINAI_CLI_PROFILE=funtoo
  LUET_REPOSITORY=/anise-repo
  make luet-pc
- >-
  cd /anise-repo &&
  git status &&
  BUMPER_DIR=./packages/atoms-extra/ sh scripts/bumper.sh &&
  eval 'git push || true' ;


# vim: filetype=yaml
