
image: macaroni/funtoo-metatools
storage: "geaaru-github,mcli"
storage_path: /storage
artefact_path: /artefacts
{{- if .extrans }}
namespace: "{{ .namespace }}-reposcan,{{ .extrans }}"
{{- else }}
namespace: "{{ .namespace }}-reposcan"
{{- end }}
type: lxd
environment:
- LUET_SYSTEM__TMPDIR_BASE=/luettmp
- LUET_YES=true
- "KITS_2UPGRADE={{ .kits2upgrade }}"
- "REPO_BRANCH={{ .repobranch }}"
- "REPO={{ .repossh }}"
- "NAMESPACE={{ .namespace }}"

name: "Luet Portage Converter <{{ .namespace }}> - ({{ dateInZone "2006-01-02T15:04:05.000Z" (now) "UTC" }})"
script:
- >-
  luet repo update &&
  luet install utils/jq utils/yq net-misc/openssh
  dev-util/mottainai-cli sys-devel/make
  extension/luet-portage-converter
  &&
  luet reinstall virtual/base &&
  luet cleanup &&
  env-update &&
  ldconfig

# Setup Mottainai stuff
- export HOME=/root && mkdir -p /root/.config/
- /bin/bash /storage/setup-mcli.sh

# Setup git ssh key
- sh /storage/setup-ssh.sh
- sh /storage/setup-git.sh

- >-
  git clone ${REPO} -b ${REPO_BRANCH} /luet-repo &&
  mkdir /luet-repo/kit_cache -p &&
  cp -vf /artefacts/* /luet-repo/kit_cache/ &&
  rm -rf /artefacts/*

- >-
  git clone https://code.funtoo.org/bitbucket/scm/mos/macaroni-tasks.git
  /macaroni-tasks &&
  cd /macaroni-tasks &&
  MOTTAINAI_CLI_PROFILE=funtoo
  LUET_REPOSITORY=/luet-repo
  make luet-pc
- >-
  cd /luet-repo &&
  git status &&
  BUMPER_DIR=./packages/atoms-extra/ sh scripts/bumper.sh &&
  eval 'git push || true' ;


# vim: filetype=yaml
